<!--The whole content below can be removed with the new code.-->
<nav class="navbar navbar-expnded navbar-light bg-light">
  <a href="" class="navber-brand">{{pageTitle}}</a>
  <ul class="nav nav-pills">
    <li><a [routerLink]="['/welcome']" routerLinkActive="router-link-active"  class="nav-link">Home</a></li>
    <li><a [routerLink]="['/products']" routerLinkActive="router-link-active"  class="nav-link">Product List</a></li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
